.App {
    text-align: center;
  }
  
h1 {
margin-bottom: 20px;
}

h2 {
margin: 20px;
}

input {
margin: 20px;
}

.player-panels {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.next-turn-btn {
padding: 10px 20px;
font-size: 16px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.next-turn-btn:hover {
background-color: #0056b3;
}

